@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
/* Works on Chrome, Edge, and Safari */
.App-strong {
  color: white;
}
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid orange;
}
.grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  background-color: #222222;
  overflow-y: scroll;
  height: 350px;
  background-image: url('./ui/bg.jpg');
  background-position: 50% 25%;
  border: 1px dashed #222222;
}
.link-bg {
  margin-top: 5px;
  background-size: 200px auto;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #0074d9;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.pokemon {
  width: 115px;
  margin-left: 5px;
  margin-top: 15px;
}
.tint {
  position: relative;
  float: left;
  cursor: pointer;
  width: 200px;
  height: 280px;
}

.tint:before {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  bottom: 5px;
  left: 0;
  right: 0;
  transition: background 0.3s linear;
  background: none;
}

.tint:hover:before {
  background: rgba(0, 255, 255, 0.5);
}
.tint:hover {
  color: #85144b;
}
